101 ICON "main.ico"

1 VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "RangeCode"
      VALUE "FileDescription", "A light tool for visualy analising and merging data."
      VALUE "FileVersion", "0.1"
      VALUE "InternalName", "RangeCode"
      VALUE "LegalCopyright", "RangeCode (c) 2021"
      VALUE "OriginalFilename", "GridRender.exe"
      VALUE "ProductName", "GridRender"
      VALUE "ProductVersion", "0.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END